body {
    font-family: "JetBrains Mono", monospace, Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Controla el ancho máximo del contenedor */
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-container label {
    display: block;
    margin: 10px 0 5px 15px;
    font-weight: bold;
}
 input, select, textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.gender-container {
    display: flex;
    justify-content:space-around;
}
.gender-container label {        
    text-align: center;    
}

.boton{
    width: 11%;
    padding: 10px;
    background-color: #176856;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
    text-decoration: none;
}
.boton:hover {
    background-color: #75ad91;
    z-index: 1;
}

.boton-volver a {
    background-color: #176856;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;

}

/* .boto {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    margin-top: 4rem;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    width: 70%;
    text-align: center;
    border: none;
} */