body {
    font-family: "JetBrains Mono", monospace, Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Controla el ancho máximo del contenedor */
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-container label {
    display: block;
    margin: 10px 0 5px 15px;
    font-weight: bold;
}
 input, select, textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.gender-container {
    display: flex;
    justify-content:space-around;
}
.gender-container label {        
    text-align: center;    
}

.button {
    width: 10%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
}
.button:hover {
    background-color: #0056b3;
}